.global-footer {
	$en-logo-height: 26px;
	$section-line-width: 4px;

	background-color: $color-dark-blue-gray;
	box-sizing: border-box;
	color: $color-white;

	// reset and set some defaults (that should be set in DS)
	* {
		box-sizing: inherit;
	}

	.row {
		margin-bottom: 15px;
	}

	// we should have class that removes defaults from UL
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__main {
		margin: 0 20px;
	}

	&__header {
		padding: 25px 0;
	}

	&__licensing-and-vertical {
		background: rgba($color-night-sky, .5);
		font-size: $typescale-size-minus-2;
		padding: 15px 0;

		/**
		 * Note: The following rule is an exception on DS Class Naming because whole
		 * text is user-supplied and we don't insert class names there.
		 */
		a,
		a:visited {
			color: $color-light-blue;
			text-decoration: none;
		}

		a:hover {
			color: $color-white;
		}
	}

	&__fandom-logo {
		height: $en-logo-height;
		width: 122px;
	}

	&__wikia-logo {
		height: $en-logo-height;
		width: 67px;

		&.is-large {
			height: 32px;
			width: 84px;
		}
	}

	// "Home of Fandom" subtitle
	&__home-of-fandom {
		border: {
			bottom: 1px solid $color-blue-gray;
			top: 1px solid $color-blue-gray;
		}
		color: #7f90a1;
		letter-spacing: 0.5px;
		font: {
			size: $typescale-size-minus-2;
			weight: bold;
		}
		margin: {
			left: 13px;
			top: 5px;
		}
		padding: 3px 0;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&__wikia-section {
		border-top: $section-line-width solid $color-slate-gray;
		padding-top: 8px;
	}

	&__link {
		&,
		&:active,
		&:visited {
			color: $color-blue-gray;
			font-size: $typescale-size-minus-1;
			font-weight: normal;
			line-height: 2em;
			text-decoration: none;
		}

		&:hover {
			color: $color-white;
		}
	}

	&__fandom-section {
		&.is-fandom-overview {
			.global-footer__link {
				align-items: center;
				border-top: $section-line-width solid $color-slate-gray;
				color: $color-white;
				display: flex;
				font: {
					size: $typescale-size-plus-1;
					weight: bold;
				}
				justify-content: space-between;
				margin: 0;
				padding: 2px 0 28px 0;
				text-decoration: none;

				&.is-games {
					border-color: $color-games;
				}

				&.is-movies {
					border-color: $color-movies;
				}

				&.is-tv {
					border-color: $color-tv;
				}
			}

			.global-footer__image {
				transform: rotate(180deg);
			}
		}

		&.is-follow-us {
			.global-footer__links-list-item {
				display: inline-block;
				margin-right: 10px;
			}
		}
	}

	&__wikia-section {
		&.is-create-wiki {
			.global-footer__link {
				border: solid 1px $color-blue-gray;
				color: $color-blue-gray;
				display: inline-block;
				font: {
					size: $typescale-size-minus-2;
					weight: bold;
				}
				letter-spacing: 0.3px;
				line-height: normal;
				margin-top: 13px;
				padding: 14px 18px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					color: $color-white;
				}
			}
		}

		&.is-community-apps {
			.global-footer__link {
				display: block;
				line-height: normal;
				margin-top: 6px;
				width: 119px;
			}

			.global-footer__image {
				height: 35px;
				width: 119px;
			}
		}
	}

	&__section-header {
		color: $color-white;
		font: {
			size: $typescale-size-plus-1;
			weight: bold;
		}
		height: 24px;
		margin: {
			bottom: 10px;
			top: 0;
		}
		padding: 0;
	}

	&__section-description {
		color: $color-white;
		font-size: $typescale-size-minus-1;
		line-height: $line-height;
		margin: 0;
		padding: 0;
	}

	@media #{$breakpoint-mobile-only} {
		&__fandom-header,
		&__wikia-header{
			margin: 35px;
		}

		&__wikia-section {
			margin-bottom: 20px;
		}

		.is-create-wiki {
			display: none;
		}
	}
}
